html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: gray;
}
.topBox {
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 80%;
	height:	25%;
	margin-top:	50px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
	padding: 20px;
}
.buttonRow {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.flex1 {
	margin: 10px;
	height: 25%;
	width: 25%;
	color: white;
	text-align: center;
	padding: 15px;
}
.buttonRed {
	background-color: red;
}
.buttonBlue {
	background-color: blue;
}
.bottomBox {
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 80%;
	height:	60%;
	margin-top:	50px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
	padding: 20px;
}
.picture {
	height: 300px;
	width: 90%;
	margin: 20px;
	padding: 10px;
	background-color: gray;
	align-content: center;
}
.container {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	background-color: black;

}
.flex2 {
	justify-content: space-around;
	padding: 10px;
	margin-right: 20px;
}
.apple {
	color: white;
}
.google {
	color: white;
}