html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.topContainer {
	background-color: black;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 5%;
}
.apple {
	color: white;
	margin-left: 20px;
	margin-top: 10px;
}
.google {
	color: white;
	margin-left: 20px;
	margin-top: 10px;
}
.wordContainer {
	background-color: white;
	display: flex;
	flex-direction: row;
	height: 80%;
	width: 90%;
	padding: 30px;
	margin: 20px;
}
.flex1 {
	margin: 10px;
}
.bottomContainer {
	background-color: black;
	width: 100%;
	height: 5%;
}
.picture {
	padding: 10px;
}